

<ion-header>
  
    <ion-navbar color="primary">
      
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title color="primary">Profile</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <form [formGroup]="nameForm" (submit)="updateUser(nameForm.value)">
  
      <ion-item padding>
        <ion-label floating>First Name</ion-label>
        <ion-input formControlName="fname" type="text"
          [class.invalid]="!nameForm.controls.fname.valid && nameForm.controls.fname.dirty">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" 
        *ngIf="!nameForm.controls.fname.valid && nameForm.controls.fname.dirty" no-lines>
        <p>Please provide a first name</p>
      </ion-item>

      <ion-item padding>
        <ion-label floating>Last Name</ion-label>
        <ion-input formControlName="lname" type="text"
          [class.invalid]="!nameForm.controls.lname.valid && nameForm.controls.lname.dirty">
        </ion-input>
      </ion-item>

      <ion-item padding>
        <ion-label floating>Email Address</ion-label>
        <ion-input formControlName="email" type="text"
          [class.invalid]="!nameForm.controls.email.valid && nameForm.controls.email.dirty">
        </ion-input>
      </ion-item>

      <ion-item class="error-message" 
        *ngIf="!nameForm.controls.lname.valid && nameForm.controls.lname.dirty" no-lines>
        <p>Please provide a last name</p>
      </ion-item>





  
      <button ion-button block type="submit" [disabled]="!nameForm.valid">
        Update Account
      </button>
    </form>
  

  </ion-content>
  