<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>In Progess</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
    <ion-col >
        <ion-title>Company Name</ion-title>
        
      <ion-list *ngFor="let item of entries | async">
      <ion-item>{{item.company}}</ion-item>
      
    </ion-list>
    </ion-col>


    <ion-col>
        <ion-title>Status</ion-title>
        <ion-list *ngFor="let item of entries | async">
            <ion-item (click)="moreDetails(item.$key, entries)">
            
            {{item.status}}
          </ion-item>
          </ion-list>
            
      </ion-col>
    
</ion-row>


</ion-grid>
</ion-content>

