<!--
  Generated template for the JobstatusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>jobstatus</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <!--user is the name of our formgroup that we set up on the ts file -->
  <form [formGroup]="jobstatusForm" (ngSubmit)="updateInterview(jobstatusForm.value)">
<ion-list>
  <ion-item>
    <ion-label stacked>Company Name</ion-label>
    <ion-input disabled="true"  type="text" formControlName="company"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Position Applied For</ion-label>
    <ion-input disabled="true"type="text" formControlName="position"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Date Applied</ion-label>
    
    <ion-datetime disabled="true" formControlName="date" min="2017" displayFormat="MM DD YYYY" pickerFormat="MM DD YYYY"></ion-datetime>
  </ion-item>


</ion-list>

<ion-title>Application Status</ion-title>


<ion-list>
<ion-item>
    <ion-label>Pending</ion-label>
    <ion-checkbox formControlName="pending" (ionChange)="testing()"></ion-checkbox>
    
  </ion-item>
  <ion-item>
      <ion-label>Selected for Interview</ion-label>
      <ion-checkbox formControlName="selected" [(ngModel)]="isChecked" (ionChange)="update()"></ion-checkbox>
    </ion-item>

    <ion-item>
        <ion-label>Rejected</ion-label>
        <ion-checkbox formControlName="rejected" (ionChange)="rejected()"></ion-checkbox>
      </ion-item>

      <ion-item>
          <ion-label>Ghosted</ion-label>
          <ion-checkbox formControlName="ghosted" (ionChange)="ghosted()"></ion-checkbox>
        </ion-item>
    </ion-list>


    <ion-title *ngIf="isChecked">Interview Details</ion-title>
    

        <ion-list *ngIf="isChecked">

        <ion-item >
            <ion-label>Type of Interview</ion-label>
            <ion-select formControlName="interviewType">
              <ion-option value="Phone Screen">Phone Screen</ion-option>
              <ion-option value="Phone Interview">Phone Interview</ion-option>
              <ion-option value="Tech Challenge">Technical Challenge</ion-option>
              <ion-option value="OnSite">On Site Interview</ion-option>
              
              
            </ion-select>
          </ion-item>

          <ion-item>
              <ion-label stacked>Date</ion-label>
             <ion-datetime displayFormat="MM/DD/YYYY" formControlName="interviewDate"></ion-datetime>
          </ion-item>



     <ion-item>
        <ion-label stacked>Interview Notes</ion-label>
       <ion-textarea placeholder="Enter interview notes here" formControlName="notes"></ion-textarea>
    </ion-item>


  </ion-list>

        
<button ion-button type="submit">Submit</button>
</form>


</ion-content>


